# Python
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# LaTeX artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.pdf
!main.pdf
!Bab2_rev.pdf
!Bab2_rev2.pdf
!Deep_Learning-Based_BSDE_Solver_for_Libor.pdf

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
